@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body{
	width:100vw;
	height:100vh;
	position:relative;
	background: black;
}

body:after, body:before{
	position:fixed;
	content:"";
  width: 150%;
	width:auto;
	margin:auto;
	padding-bottom:100%;
	top:0;
	bottom:0;
	right:0;
	left:0;
	transform: translatey(50%);
	border-radius:45%;
	animation: infinite dynamic-background;
	animation-duration:50s;
	z-index:-1;
}

body:after{
		background-color: rgba(116,19,168, 0.5);
		animation-direction: reverse;
}

body:before{
		background-color: rgba(89,51,242, 0.8);

}

@keyframes dynamic-background {
  0% {
		transform:translatey(110%) rotate(0deg) scale(2)
	}
  50% {
	transform:translatey(150%) rotate(180deg) scale(2.5)
	}
	 100% {
		transform:translatey(110%) rotate(0deg) scale(2)
	}
}

